---
layout: page
title: Blog
---

<div class="blog clearfix">
  <div class="posts-list-container">
    {% include ad-leaderboard-728x90.html %}
    <section>
      <h4>Showing results in <strong>page {{ paginator.page }}</strong> ({{ paginator.posts.size }} of {{ paginator.total_posts }})</h4>
      <ul class="posts-list">
        {% for post in paginator.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>

            <div class="post-excerpt">
              <h2 class="post-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>

              {{ post.content }}
              <div class="excerpt-overlay"></div>
            </div>

            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">See more...</a>
          </li>
        {% endfor %}
      </ul>
      {% include paginator.html %}
    </section>
  </div>
  <div class="nav-container">
    {% include navbar.html %}
    {% include paginator.html %}

    <a target="_blank" href="{{ '/feed.xml' | prepend: site.baseurl }}">
      <span>RSS</span><img class="icon-suscribe" src="{{ '/img/rss-640.png' | prepend: site.baseurl }}">
    </a>
  </div>
</div>
