<article>
      <h3>Major Triad 16th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Minor Triad 16th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Augmented Triad 16th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Diminished Triad 16th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Major Triad ternary 8th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Minor Triad ternary 8th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Diminshed Triad ternary 8th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Augmented Triad ternary 8th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Major Scale / Ionian Mode 16th note subdivision</h3>
      <div class="video">
      </div>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>

    <article>
      <h3>Dorian Mode 16th note subdivision</h3>
      <div class="video">
      </div>
      <a ng-href="article.pdfLink">Sheet music (PDF)</a>
      <div class="tags">
        <a ng-repeat="tag in tags" ng-href="tag.url">{{ tag.text }}</a>
      </div>
    </article>
