---
layout: page
title: Ejercicios
permalink: /ejercicios/
scripts: [/js/views/exercises-demo-view.js]
---

<section>
  <h2>Ejercicios</h2>
  <p>La sección de ejercicios actualmente está en etapa de desarrollo.</p>
  <p>A continuación puede verse una vista previa de algunos de los ejercicios que estoy preparando.</p>
</section>

<div class="exercise-flow-container clearfix">
  <div class="exercises-container">
    {% include exercises/que-escala-es-esta.html %}
    {% include exercises/que-acorde-es-este.html %}
    {% include exercises/a-que-obra-pertenece.html %}
    {% include exercises/a-que-compositor-pertenece.html %}
    {% include exercises/que-intervalo-es-este.html %}
  </div>
  {% include ui-gameplay/score.html %}
</div>
