@media screen and (min-width: 320px) {
  .jptv-page-container {
    padding: 0 0%;
    margin: 0 3%;
  }

  .jptv-page-container h2 {
    text-align: center;
  }

  .jptv-page-container.loading {
    height: 300px;
    background-image: url('../jptv-loading.gif');
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

/* Landscape mobile / portrait small tablet */
@media screen and (min-width: 684px) {
  .jptv-page-container {
    padding: 0 0%;
    margin: 0 9%;
  }
}

@media screen and (min-width: 1024px) {
  .jptv-page-container {
    padding: 0 14%;
    margin: 0 15%;
  }
}
