.jptv-footer {
  margin-top: 3rem;
  padding: 2rem 15%;
  font-family: 'Raleway', Arial, sans-serif;
  background: #000;
  color: #EEE;
}

.jptv-footer h4,
.jptv-footer p,
.jptv-footer ul li a {
  font-family: 'Raleway', Arial, sans-serif;
}

.jptv-footer ul {
  float: left;
  margin: 0 5rem 0 0rem;
  padding: 0;
  list-style-type: none;
}

.jptv-footer ul li {
  margin-bottom: 0;
}

.jptv-footer ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.jptv-footer h4 {
  margin: 0;
  text-decoration: underline;
  margin-bottom: 0.8rem;
}

.jptv-footer p {
  margin: 1rem 0 0;
  font-size: 0.8rem;
}
