<div class="exercise-container clearfix">
  <div class="question-container">
    <h4>¿Qué Acorde es éste?</h4>
    <p>TIP: La primer nota se corresponde con la fundamental del acorde.</p>
    <div class="scale-container">
      <img src="{{ '../img/scales/eb-major.svg' }}">
    </div>
  </div>
  <div class="options-container">
    <form id="scales-form-list-e2">
      <h5>Opciones</h5>
      <ul>
        <li>
          <input type="radio" name="scale-name" id="option-1" value="bb-major" />
          <label for="option-1">Bb Mayor</label>
        </li>
        <li>
          <input type="radio" name="scale-name" id="option-2" value="eb-major" />
          <label for="option-2">Eb Mayor</label>
        </li>
        <li>
          <input type="radio" name="scale-name" id="option-3" value="f-minor" />
          <label for="option-3">F Menor</label>
        </li>
        <li>
          <input type="radio" name="scale-name" id="option-4" value="bbmaj7" />
          <label for="option-4">Bbmaj7</label>
        </li>
      </ul>
      <button type="submit">OK</button>
    </form>
  </div>
</div>

  