<div class="exercise-container clearfix">
  <div class="question-container">
    <h4>Which Major Key is represented by the following Key Signature?</h4>
    <div class="img-container">
      <img src="{{ '/sheet-music/key-signatures/f-major-d-minor.svg' | prepend: site.baseurl }}">
    </div>
  </div>
  <div class="options-container">
    <form id="scales-form-list-e2">
      <h5>Options</h5>
      <ul>
        <li>
          <input type="radio" name="scale-name" id="option-1" value="bb-major" />
          <label for="option-1">F Major</label>
        </li>
        <li>
          <input type="radio" name="scale-name" id="option-2" value="eb-major" />
          <label for="option-2">Bb Major</label>
        </li>
        <li>
          <input type="radio" name="scale-name" id="option-3" value="f-minor" />
          <label for="option-3">D Major</label>
        </li>
        <li>
          <input type="radio" name="scale-name" id="option-4" value="bbmaj7" />
          <label for="option-4">Dbmaj7</label>
        </li>
      </ul>
      <button type="submit">OK</button>
    </form>
  </div>
</div>
