.jptv-login-user {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Roboto', Arial, sans-serif;
}

.jptv-login-user h2 {
  margin: 1rem 0 2rem;
  text-align: center;
}

.jptv-login-user form label {
  margin: 1rem 0 .3rem;
  display: block;
}

.jptv-login-user form input {
  box-sizing: border-box;
  width: 100%;
}