.button {
  border: 1px solid #34A853;
  line-height: 1.8rem;
  background: #54BE70;
  height: 2rem;
  margin: 1rem auto;
  display: block;
  clear: both;
  width: 200px;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 0.9rem;
}
