<!-- Email form -->
<div id="contact" class="email form overlay visuallyhidden">
  <form action="//formspree.io/amyvpellegrini@gmail.com" method="POST">
    <input type="hidden" name="_next" value="//jazzpiano.tv" />
    <div class="form-field clearfix">
      <label>Name<em>*</em></label>
      <input type="text" required name="name" />
    </div>
    <div class="form-field clearfix">
      <label>Email<em>*</em></label>
      <input type="email" required name="_replyto" />
    </div>
    <div class="form-field clearfix">
      <label>Subject</label>
      <input type="text" />
    </div>
    <div class="form-field textarea clearfix">
      <label>Message<em>*</em></label>
      <textarea required name="message"></textarea>
    </div>
    <button id="contactSend" type="submit">Enviar</button>
  </form>
</div>
