<!-- Email form -->
<div id="contact" class="email form overlay container visuallyhidden">
  <form action="//formspree.io/amyvpellegrini@gmail.com" method="POST">
    <input type="hidden" name="_next" value="//jazzpiano.tv" />
    <div class="form-field clearfix">
      <label>Nombre<em>*</em></label>
      <input type="text" required name="name" />
    </div>
    <div class="form-field clearfix">
      <label>Email<em>*</em></label>
      <input type="email" required name="_replyto" />
    </div>
    <div class="form-field clearfix">
      <label>Asunto</label>
      <input type="text" />
    </div>
    <div class="form-field textarea clearfix">
      <label>Mensaje<em>*</em></label>
      <textarea required name="message"></textarea>
    </div>
    <button id="contactSend" type="submit">Enviar</button>
  </form>
</div>

<footer>
  <p class="rss-subscribe">Suscribirse <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</footer>
