<header class="clearfix">
  <h1><a class="site-title" href="{{ site.baseurl }}/">JazzPiano<em>TV</em></a></h1>
  <nav>
    <ul>
      {% for page in site.pages %}
      {% if page.url contains 'page' %}
      {% elsif page.title %}
        <li><a class="page-link" href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
      <li><a id="navContact" class="contact-btn" href="#contact">Contactar</a></li>
    </ul>
  </nav>
</header>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- JazzPianoTVLeadboardDefault -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-0196812625712578"
     data-ad-slot="3646771649"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
