<header class="clearfix">
  <h1><a class="site-title" href="{{ site.baseurl }}/">JazzPiano<em>TV</em></a></h1>
  <nav>
    <ul>
      {% for page in site.pages %}
      {% if page.url contains 'page' %}
      {% elsif page.title %}
        <li><a class="page-link" href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
      <li><a id="navContact" class="contact-btn" href="#contact">Contactar</a></li>
      <li><a class="lang-option" href="/">English</a><a class="lang-option" href="/es/">Español</a></li>
    </ul>
  </nav>
</header>
