<aside>
  <nav>
    <h4>Posts</h4>
    <ul>
      {% for post in site.posts %}
      <li itemscope itemtype="http://schema.org/BlogPosting">
        <span class="post-meta" itemprop="dateCreated">{{ post.date | date: "%d/%m/%Y" }}</span>
        <a class="post-link" itemprop="url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    {% include ad-box-336x280.html %}

    <h4>Categories</h4>
    <ul>
      {% for category in site.categories %}
        <li>
          <div class="category">
            <span><strong>{{ category | first }}</strong></span>
            <ul>
              {% for posts in category %}
                {% for post in posts %}
                  {% if post.url %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>

    <h4>Tags</h4>
    <ul>
      {% for tag in site.tags %}
        <li>
          <div class="tag">
            <span><strong>{{ tag | first }}</strong></span>
            <ul>
              {% for posts in tag %}
                {% for post in posts %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
