/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  color: #333;
}

header em {
  font-style: normal;
  font-weight: 200;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: #000;
}

h1 a,
h1 a:hover {
  font-size: inherit;
  color: inherit;
}

h1 em {
  font-style: normal;
  color: #ff6a00;
}

h2, h3, h4, h5 {
  color: #ff0036;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #ff6a00;
}

a:hover {
  color: #ff9e00;
}

footer a,
footer a:hover {
  font-size: 1rem;
  color: #333;
}

.ad-container {
  &.leaderboard-728x90 {
    height: 90px;
    width: 728px;
  }
}

.rss-suscribe {
  a {
    color: #333;
  }
}

.icon-suscribe {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: -3px;
  margin-left: 5px;
}

.content em {
  font-weight: 400;
  font-style: normal;
  color: #ff0036;
}

.main.container {
  max-width: none;

  header h1 {
    margin-bottom: 0;
    float: left;
  }

  header nav ul {
    margin-top: 1.3em;
    list-style: none;
    float: right;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;

    em {
      color: #ff0036;
      font-style: normal;
    }
  }
}

.pagination {
  font-size: 1rem;

  .page-number {
    display: inline-block;
    margin: 0 1em;
  }
}

.main.container {
  header nav ul li {
    margin: 0 0.5em;
    float: left;

    .lang-option {
      display: block;
    }
  }

  header nav a {
    text-decoration: none;
    font-size: 1.2rem;
  }
}

.main.container header nav a:hover {
  color: #bbb;
}

.img-container.right,
.img-container.left {
  img {
    max-width: 320px;
  }
}

.img-container.right {
  float: right;
}

.img-container.left {
  float: left;
}

/* Contact form */
.email.form.overlay {
  width: 100%;
  transition: opacity 1s;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  height: 100%;
  opacity: 1;
}

.email.form.overlay.visuallyhidden {
  opacity: 0;
}

.email.form.overlay label em {
  margin-left: 7px;
  line-height: 0.5em;
  color: #ff0036;
  font-size: 1.8em;
  position: relative;
  top: 0.3em;
}

.email.form.overlay form {
  padding-top: 3em;
  width: 376px;
  margin: 0 auto;
}

.email.form.overlay textarea {
  font-size: 0.7em;
  color: #000;
  width: 100%;
}

.email.form.overlay label {
  font-size: 0.7em;
  color: #ccc;
}

.email.form.overlay .form-field label {
  float: left;
}

.email.form.overlay .form-field input {
  width: 278px;
  font-size: 0.7em;
  color: #000;
  float: right;
}

.email.form.overlay button {
  border-color: #ff6a00;
  color: #fff;
}

.email.form.overlay button:hover {
  border-color: #dd6a00;
  background-color: #cc4a00;
}

.email.form.overlay .form-field {
  position: relative;
}

.email.form.overlay .form-field .parsley-errors-list {
  right: 0;
  height: 1.5em;
  font-size: 0.6em;
  position: absolute;
  list-style: none;
  width: 278px;
  color: #ff0000;
  top: -21px;
}

.email.form.overlay .form-field.textarea .parsley-errors-list {
  width: 154px;
  top: 0;
}

/* Testimonials section */
.testimonials .comment-box .quote-open,
.testimonials .comment-box .quote-close {
  font-family: "Times New Roman", times, serif;
  color: #bbb;
}

.testimonials .comment-box {
  margin-bottom: 2em;
}

.testimonials .comment-box p {
  margin-bottom: 0;
}

.testimonials .comment-box p.comment {
  font-size: 0.7em;
  text-align: center;
  margin-bottom: 0;
}

.testimonials .comment-box p.quote-open {
  margin-bottom: 0;
  float: left;
  line-height: 175px;
  font-size: 10em;
  height: 75px;
}

.testimonials .comment-box p.quote-close {
  margin-bottom: 0.2em;
  clear: both;
  text-align: right;
  line-height: 58px;
  font-size: 3em;
  height: 25px;
}

/* Lessons section */
.lessons ul li {
  font-size: 0.7em;
}

/* Music section */
.music.section {
  margin-bottom: 1.4em;
}

.music h4 {
  margin-bottom: 0.2em;
  margin-top: 1em
}

/* Bio section */
.bio h3,
.bio h4 {
  margin-bottom: 0;
  display: inline;
}

.bio h3 {
  position: relative;
  top: 1px;
}

.bio h4 {}

.bio .content {
  text-align: justify;

  p {
    font-weight: 200;
    font-size: 0.8em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }
}

.bio .img-container {
  width: 350px;
  float: left;
  margin-right: 1em;

  img {
    width: 100%;
  }
}

/* Main Blog Page */
.blog {
  hr {
    margin: 0;
    border-top: 1px solid #333;
  }


  .img-container {}

  h2.post-title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;

    a {
      color: inherit;
    }
  }

  ul.posts-list {
    margin: 0;

    p {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 0.9rem;
    }

    li {
      border-top: 1px solid #333;
      box-sizing: border-box;
      float: left;
      margin-bottom: 0;
      height: 243px;
      list-style: none;
      overflow: hidden;

      &:hover {}

      .post-meta {
        margin-bottom: 10px;
        line-height: 1rem;
        display: block;
        font-size: 0.9rem;
      }
    }
  }

  .post-excerpt {
    height: 160px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    .excerpt-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
  }

  .posts-list-container {
    float: left;
    width: 728px;

    h4 {
      margin-top: 5px;
      color: #333;
      font-size: 1.2rem;
      margin-bottom: 0;
      letter-spacing: 1px;
    }
  }
}

.score-container {
  font-size: 1.2rem;
  float: right;
  width: 10%;
  box-sizing: border-box;
}

.scale-container {
  img {
    height: 51px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.scale-types-list-container,
.keys-list-container {
  ul {
    li {
      list-style-type: none;
      width: 120px;
      height: 40px;
      border: 1px solid #333;
      border-radius: 2px;
      float: left;
      margin: 3px 3px;
      text-align: center;

      &:hover {
        background-color: #eee;
        cursor: pointer;
      };
    }
  }
}

.scale-types-list-container {
  h4 {
    clear: both;
  }

  ul {
    li {
      width: 200px;
    }
  }
}

.scale-builder {
  .section-container {}
}

.exercise-flow-container {
  margin: 0 auto;
  width: 800px;

  .exercises-container {
    float: left;
  }

  .exercise-container {
    background-color: #fff;

    &.top {
      display: block;
      float: left;
    }
  }
}

.options-container {
  float: right;
  width: 34%;
  box-sizing: border-box;
  padding: 0 20px 10px;

  ul {
    li {
      height: 25px;
      list-style-type: none;
    }
  }

  label {
    font-size: 1rem;
    display: inline;
  }

  button {}
}

.question-container {
  float: left;
  width: 66%;
}

.nav-container {
  width: 336px;
  float: right;
  margin-left: 15px;

  h4 {
    margin-bottom: 0.5rem;
  }

  ul {
    li {
      font-size: 0.9rem;
      list-style-type: none;

      .post-meta {
        display: block;
      }

      .post-link {
      }
    }
  }
}

.post {
  padding-right: 25px;
  width: 75%;
  float: left;
  box-sizing: border-box;

  .post-title {
    font-size: 2.4rem;
  }

  .post-content {
    p {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}

img {
  width: 100%;

  &.sheet-music {
    background-color: #fff;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
