---
layout: page
title: Exercises
permalink: /exercises/
scripts: []
---

<section>
  <h2>Exercises</h2>
  <p>The following section is currently under development.</p>
  <div class="exercise-categories">
    <div class="category">
      <h4>Sight reading</h4>
      <p>Learn to read music with these exercises.</p>
    </div>
    <div class="category">
      <h4>Walking bass</h4>
      <p>Learn how to play a Walking Bass line.</p>
    </div>
    <div class="category">
      <h4>Scales</h4>
      <p>Learn everything about scales.</p>
    </div>
    <div class="category">
      <h4>Chords</h4>
      <p>Learn everything about chords.</p>
    </div>
    <div class="category">
      <h4>Rhythm Patterns</h4>
      <p>Learn to read rhythm patterns.</p>
    </div>
    <div class="category">
      <h4>Intervals</h4>
      <p>Learn to read and recognize intervals.</p>
    </div>
  </div>
</section>

<section>
  <h2>Exercise Run</h2>
  <p>These are previews of some of the exercises I'm developing.</p>

  <div class="exercise-flow clearfix gameplay">
    <div class="exercises">
      {% include exercises/which-scale-is-this.html %}
      {% include exercises/which-chord-is-this.html %}
      {% include exercises/music-fragment-contained-in.html %}
      {% include exercises/music-fragment-written-by.html %}
      {% include exercises/which-interval-is-this.html %}
    </div>
    {% include ui-gameplay/score.html %}
  </div>
</section>
