<div class="exercise">
  <div class="progression-mode">
    <label>Progression mode</label>
    <select>
      <option>Random/dodecaphonic</option>
      <option>Ascending 4ths</option>
      <option>Ascending 5ths</option>
      <option>Ascending half step</option>
      <option>Descending half step</option>
    </select>
  </div>
  <div class="tempo">
    <label>Tempo</label>
    <option>60 b/m</option>
    <option>80 b/m</option>
    <option>100 b/m</option>
    <option>120 b/m</option>
    <option>140 b/m</option>
    <option>160 b/m</option>
    <option>180 b/m</option>
  </div>
  <div class="score">
    <span>{{ score }}</span>
  </div>
  <div class="sheet-music-layout">
    <img ng-src="path">
  </div>
</div>
