<div class="exercise">
  <h3>{{ exercise.settings.title }}</h3>
  <duration></duration>
  <keys></keys>
  <div class="score">
    <span>{{ vm.score }}</span>
    <span>points</span>
  </div>
  <div class="sheet-music-layout">
    
  </div>
  <div class="playback-controls">
    <div ng-click="exercise.play()">PLAY</div>
    <div ng-click="exercise.pause()">PAUSE</div>
    <div ng-click="exercise.stop()">STOP</div>
    <div ng-click="exercise.prev()">PREVIOUS</div>
    <div ng-click="exercise.next()">NEXT</div>
  </div>

  <button class="action-button fa fa-expand" title="Full screen"></button>
  <button class="action-button fa fa-file-pdf-o" title="Download as PDF"></button>
</div>
