@media screen and (min-width: 1024px) {
  header {
    padding-left: 1rem;
  }

  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  header p {
    margin: 0 0 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: 2.8rem;
  }

  header p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 320px) {
  h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h1 .domain-suffix {
    color: #ff6a00;
  }

  h1 a {
    text-decoration: none;
    color: inherit;
  }

  h1.logo-lite {
    font-size: 1.85rem;
  }

  header {
    text-align: center;
    padding-left: 0;
    margin-bottom: 1rem;
  }

  header p {
    color: #666;
    font-family: 'Raleway';
    font-size: 1.2rem;
    margin: 0;
  }
}
