@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
}

/* Small mobile device */
@media screen and (min-width: 320px) {
  h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h1 .domain-suffix {
    color: #ff6a00;
  }

  h1 a {
    text-decoration: none;
    color: inherit;
  }

  h1.logo-lite {
    font-size: 1.85rem;
  }

  h2 {
    font-family: 'Playfair Display SC', 'Times New Roman', Times, serif;
    font-size: 2rem;
  }

  h3 {
    font-family: 'Montserrat', Arial, serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  section > header {
    text-align: center;
  }

  section > header > p {
    text-transform: uppercase;
    font-family: 'Raleway';
    color: #aaa;
    font-size: 1.5rem;
  }

  p {
    line-height: 1.5rem;
    margin-top: 0;
    font-size: 1rem;
  }

  hr {
    border-bottom: none;
    margin-top: 2rem;
  }
}

/* Larger mobile device */
@media screen and (min-width: 360px) {
  h1 {
    font-size: 2.8rem;
  }
}
