@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
}

/* Small mobile device */
@media screen and (min-width: 320px) {
  h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h1 .domain-suffix {
    color: #ff6a00;
  }

  h1 a {
    text-decoration: none;
    color: inherit;
  }

  h1.logo-lite {
    font-size: 1.85rem;
  }

  h2 {
    font-family: 'Playfair Display SC', 'Times New Roman', Times, serif;
    font-size: 2rem;
  }

  h3 {
    font-family: 'Montserrat', Arial, serif;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  section > header {
    text-align: center;
  }

  p {
    font-family: 'Lora', Times, serif;
    margin-top: 0;
    margin-bottom: 1.7rem;
  }

  ol li,
  ul li {
    font-family: 'Lora', Times, serif;
    line-height: 1.5rem;
    margin-top: 0;
    font-size: 1.1rem;
    margin-bottom: 1.7rem;
  }

  .font-default-size {
    line-height: 1.5rem;
    font-size: 1.1rem;
  }

  .font-large-size {
    line-height: 2.3rem;
    font-size: 1.4rem
  }

  ol {
    list-style-type: none;
  }

  ol li {
    position: relative;
    margin: 1.5rem 0;
    counter-increment: step-counter;
  }

  ol li::before {
    padding-right: 3rem;
    text-align: right;
    margin-left: -4rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    content: counter(step-counter) ". ";
    position: absolute;
    width: 3rem;
  }

  hr {
    border-bottom: none;
    margin-top: 2rem;
  }
}

/* Larger mobile device */
@media screen and (min-width: 360px) {
  h1 {
    font-size: 2.8rem;
  }
}
