/* iPhone 5 */
@media screen and (min-width: 320px) {
  header {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }

  header p {
    color: #666;
    font-family: 'Raleway';
    font-size: 1.2rem;
    margin: 0;
  }
}

/* Galaxy S5 */
@media screen and (min-width: 360px) {
  header p {
    font-size: 1.4rem;
  }
}

/* Small desktop */
@media screen and (min-width: 1024px) {
  header {
    text-align: left;
    padding: 0 15%;
  }

  header p {
    margin: 0;
    font-size: 1.5rem;
  }
}
