@import 'normalize.css';
@import 'font-awesome.css';
@import 'helpers.css';
@import 'brand.css';
@import 'header.css';
@import 'exercises.css';

html {
  width: 100%;
}

body {
  font-size: 16px;
}

.coming-soon {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway';
  color: #aaa;
  font-size: 2rem;
  margin: 5rem 0;
}
