@import 'normalize.css';
@import 'font-awesome.css';
@import 'helpers.css';
@import 'brand.css';
@import 'exercises.css';

html {
  width: 100%;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

h2 {
  text-transform: uppercase;
  font-family: 'Raleway';
  color: #aaa;
  font-size: 2rem;
}

section > header {
  text-align: center;
}

section > header > p {
  font-family: 'Playfair Display SC', 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}