.jptv-signup-user {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Roboto', Arial, sans-serif;
}

.jptv-signup-user h2 {
  margin: 2rem 0 1rem;
  text-align: center;
}

.jptv-signup-user form label {
  margin: 1rem 0 .3rem;
  display: block;
}

.jptv-signup-user form input {
  box-sizing: border-box;
  width: 100%;
}
