button {
  cursor: pointer;
}

.action-button {
  color: #666;
  background: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border: 2px solid #999;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 200ms ease-in;

  &:hover {
    color: #9F0A9F;
    border: 2px solid #9F0A9F;
    transition: all 200ms ease-in;
  }
}

.conversion-button {
  transition: background-color 200ms ease-in;
  background-color: #800080;
  border: none;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
  font-weight: 600;
  display: block;

  &:hover {
    transition: background-color 200ms ease-in;
    background-color: #9F0A9F;
  }
}
