.page-content {
  .showcase-item {
    h4 {
      margin: 0.8rem 0;
    }

    text-align: center;
    padding: 1rem;
    width: 200px;
    float: left;
    border: 1px solid #aaa;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 100px;
    cursor: pointer;
    height: 200px;
    transition: background-color 200ms ease-in;

    &:hover {
      h4, p {
        color: #fff;
      }

      border: 1px solid $jptv-orange-light;
      transition: background-color 200ms ease-in;
      background-color: $jptv-orange;
    }
  }
}
