/* Helper classes */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.pad-0 {
  padding: 0;
}

.center {
  margin: 0 auto;
  display: block;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.abs {
  position: absolute;
}

.small {
  margin: 0.8rem 0;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
