/* Helper classes */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.pad-0 {
  padding: 0;
}

.center {
  margin: 0 auto;
  display: block;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.abs {
  position: absolute;
}
