@import 'helpers';
@import 'header';
@import 'nav';
@import 'buttons';
@import 'exercise';

/* Theme */
body {
  padding: 115px 0 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0 0 -12px;
  font-size: 4rem;
  font-family: "Impact", Arial, sans-serif;
}

h1 em {
  color: #ff6a00;
  font-style: normal;
}

h2 {
  margin: 0;
  font-family: "Lobster", serif;
  font-size: 2rem;
  color: #ff0036;
}

h3 {
  font-family: Impact, Arial, sans-serif;
  font-size: 2rem;
  margin: 0;
}

p {
  color: #333;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 0 1rem;
  line-height: 1.5rem;
  border: 1px solid #666;
  border-radius: 15px;
}

ul {
  margin: 0;
}

.page-body {
  width: 66%;
  margin: 0 auto;
}
