@import 'helpers';
@import 'header';
@import 'nav';

/* Theme */
body {
  padding: 155px 0 0;
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-family: 'Impact', sans-serif;
}

h1 em {
  color: #ff6a00;
  font-style: normal;
}

h2 {
  margin: 0;
  font-family: "Lobster", serif;
  font-size: 2rem;
  color: #ff0036;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 0 1rem;
  line-height: 1.5rem;
  border: 1px solid #666;
  border-radius: 15px;
}

ul {
  margin: 0;
}

/* Exercise layout */
.exercise {
  width: 33%;
  margin: 0 auto;
}

.sheet-music-layout {
  width: 500px;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  left: 50%;
  margin-left: -250px;
}

.upper-row {

}

.middle-row {

}

.upper-row .chord {
  margin-left: 7rem;
}

.treble-clef,
.bass-clef {
  width: 100%;
  display: block;

  .inactive {
    opacity: 0.5;
  }
}

