body {
  padding: 155px 0 0;
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-family: 'Impact', sans-serif;
}

h1 em {
  font-family: 'Impact', sans-serif;
  color: #ff6a00;
  font-style: normal;
}

h2 {
  margin: 0;
}

input[type="text"] {
  border: 1px solid #666;
  border-radius: 8px;
}

ul {
  margin: 0;
}

/* Theme */
.nav-link {
  font-family: Impact, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 2px;

  &:hover {
    color: #666;
  }
}

.nav {
  margin: 1rem 0;
  list-style-type: none;
}

.nav li {
  float: left;
  text-align: center;
  width: 20%;
}

/* Helper classes */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.pad-0 {
  padding: 0;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*  Header */
header {
  position: fixed;
  top: 0;
  width: 66%;
  margin-left: 17.5%;
}

/* Exercise layout */
.exercise {
  width: 33%;
  margin: 0 auto;
}

.sheet-music-layout {
  width: 500px;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  left: 50%;
  margin-left: -250px;
}

.upper-row {

}

.middle-row {

}

.upper-row .chord {
  margin-left: 7rem;
}

.treble-clef,
.bass-clef {
  width: 100%;
  display: block;

  .inactive {
    opacity: 0.5;
  }
}

