.nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 2px;
}

.nav {
  margin: 1rem 0 0.3rem;
  list-style-type: none;
}

.nav li {
  float: left;
  text-align: center;
  margin-left: 1rem;

  a {
    cursor: pointer;

    &:hover {
      transition: color 250ms ease-out;
      color: #999;
    }
  }
}
