.jptv-landing-page {
  text-align: center;
  padding: 0 14%;
  margin: 0 15%;
}

.jptv-landing-page p {
  line-height: 2.3rem;
  font-size: 1.4rem
}

.jptv-landing-page .jumbotron {
  margin-bottom: 3rem;
}

.jptv-landing-page .jumbotron h2 {
  margin: 2rem 0;
}
